<%= form_for(@disposition) do |f| %>
  <% if @disposition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disposition.errors.count, "error") %> prohibited this disposition from being saved:</h2>
		<%= debug(@disposition)%>
      <ul>
      <% @disposition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<fieldset id='leftset' class='round'>
		Followup required? <br />
		<%= f.label "Yes" %>
		<%= f.radio_button :followup , "true"  %><br />
		<%= f.label "No" %>
		<%= f.radio_button :followup , "false" %><br />

		<%= f.label :time_to_complete %><br />	
		<%= f.text_field :time_to_complete %><br />

		<%= f.label :suggested_wrapup %><br />
		<%= f.text_field :suggested_wrapup %><br />

		<%= f.label "interaction ID" %><br />
		<%= f.text_field :interaction_id %><br />

		<%= f.label :notes %><br />
		<%= f.text_area :notes %><br />
		<%= f.label "Channel of purchase:"%><br/>
		<%= f.collection_select :channel_id, Channel.find(:all), :id, :name %><br />
		<%= f.label "Business:"%><br />
		<%= f.collection_select :business_id, Business.find(:all), :id, :name %><br />
		<%= f.label "Promotion:"%><br />
		<%= f.collection_select :promotion_id, Promotion.find(:all), :id, :name %><br />
		<%= f.label "Mood:"%><br />
		<%= f.collection_select :mood_id, Mood.find(:all), :id, :name %><br />
		
	<div class = "actions">
		<%= f.submit %>
	</div>
	</fieldset>
<% end %>
