
<table id='results'>
	<h1 class='titlebar'>Results:</h1>
	<tr class='tableheader'>
		<td><%= link_to "ID", :sort => "id" %></td>
		<td><%= link_to "Channel", :sort => "channel_id"%></td>
		<td><%= link_to "TtC", :sort => "time_to_complete" %></td>
		<td><%= link_to "Followup?", :sort => "followup" %></td>
		<td><%= link_to "Interaction ID", :sort => "interaction_id" %></td>
		<td><%= link_to "Timestamp", :sort => "created_at" %></td>
		<td><%= link_to "Notes", :sort => "notes" %></td>
		<td><%= link_to "Suggested wrapup", :sort => "suggested_wrapup" %></td>
	</tr>
	<% @contacts.each do |contact| %>
	<tr>
		<%= link_to contact do %>
		<td><%= contact.id %></td>
		<td><%= contact.channel[:name] %></td>
		<td><%= contact.time_to_complete %>s</td>
		<td><%= if contact.followup? 
					"yes" 
				else 
					"no" 
				end %></td>
		<td><%= contact.interaction_id %></td>
		<td><%= contact.created_at %></td>
		<td><%= truncate("#{contact.notes}") %></td>
		<td><%= truncate("#{contact.suggested_wrapup}") %></td>
		<% end %>
	</tr>
	
	<% end%>
</table>
